/* Estilos generales */

.pot {
  padding: 50px 20px;
  background-size: 100% auto;
}

p {
  color: #0B105B;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.pot-animated  .check {
  animation: rotate 5s forwards;
  transform-origin: center;
  transform: rotate(0deg);
}

.pot-animated  .check-inner {
  animation: fill-avion 1s forwards;
  fill: #9B3ACB;
  animation-delay: 3s;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fill-avion {
  to {
    fill: white;
  }
}