body {
  background-image: url('../../images/pots/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation-name: wave;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;
}

.pots {
  max-height: 90vh;
  text-align: center;
  padding: 60px 20px;
}

/* Sección titulo y alcancia */

.header p {
  color: #0B105B;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.header svg {
 z-index: 2;
 position: relative;
}

.header .m1 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}

.header .m2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}

.header .m3 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation-delay: 5s;
  animation: dash 2s linear forwards;
}

.header .m4 {
  fill: white;
  animation-delay: 20s;
  animation: fill 0.5s linear forwards;
  animation-delay: 1s;
}

.coin {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f4d03f;
  box-shadow: inset 0 -2px 0 #c39e2d;
  margin: auto;
  z-index: 1;
  transform: translate(30px, -40px);
  opacity: 0;
  animation: coin-fall 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s forwards;
}

/* Sección items de pots */

.list ul {
  list-style: none;
  padding: 0;
}

.list ul li {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 8px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 17px;
  justify-content: space-between;
  height: 48px;
}

.list li .pots-icon {
  transition: transform 0.3s ease;
}

.list li:hover img {
  animation: bounce 0.5s linear 1 forwards;
}

.list li:hover .pots-icon {
  transform: translateY(-10px) scale(1.5);
}

.list li:hover {
  background-color: rgba(239, 243, 243, 0.929);
}

.left-column {
  display: flex;   
}

.left-column p {
  margin-left: 10px;
}

/* Sección agenda, texto y botón de Pots */

.footer p {
  color:  #0B105B;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.footer .image {
  background-color: white;
  padding: 10px;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  margin: auto;
}

.pots-button {
  background: none;
  border: none;
  color: #009EE3;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin-top: 30px;
  animation: shadow-pulse 1s infinite;
  box-shadow:  0 10px 20px  rgba(0, 158, 227, 0.05), 0 6px 6px  rgba(0, 158, 227, 0.02);
  border-radius: 2px;
}

/* Animación sombra de pulso en botón */

@keyframes shadow-pulse
{
  0% {
      box-shadow: 0 0 0 0px rgba(0, 158, 227, 0.1);
      background-color: rgba(0, 158, 227, 0.1);
  }
  100% {
      box-shadow: 0 0 0 20px  rgba(0, 158, 227, 0);
      background-color: rgba(0, 158, 227, 0);
  }
}

/* Animación de ola sobre el fondo */

@keyframes wave {
  0% {
    background-position: center 0px;
  }
  50% {
    background-position: 5px 30px;
  }
  100% {
    background-position: center 0px;
  }
}

/* Animación de iconos al hacer hover en la lista */

@keyframes bounce {
  0%{
    -webkit-transform: scale(1.1);
    animation-timing-function: ease-in;
  }
  37% {
      -webkit-transform: scale(1.5);
      animation-timing-function: ease-out;
  }
  55% {
      -webkit-transform: scale(1.37);
      animation-timing-function: ease-in;
  }
  73% {
      -webkit-transform: scale(1.1);
      animation-timing-function: ease-out;
  }
  82% {
      -webkit-transform: scale(1.45);
      animation-timing-function: ease-in;
  }
  91% {
      -webkit-transform: scale(1.5);
      animation-timing-function: ease-out;
  }
  96% {
      -webkit-transform: scale(1.4);
      animation-timing-function: ease-in;
  }
  100% {
      -webkit-transform: scale(1.1);
      animation-timing-function: ease-out;
  }
}


/* Animación relleno del check con fondo verde */

@keyframes fill {
  to {
    fill: #00A650;
  }
}

/* Animación de dibujar el frasco */

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/* Animación de moneda cayendo al frasco */

@keyframes coin-fall {
  to {
    opacity: 1;
    top: 100px;
    transform: rotate(90deg) translate(30px, 0);
  }
}
