@import '../commons/Card/shared';

.macroneed {
  min-height: calc(100vh - 3.75em);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  overflow: hidden;
  margin: auto;
}

.section {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__illustration {
    width: 100%;
    position: relative;
    padding: 20px 0;

    .absolute {
      position: absolute;
      top: 50%;
      margin: auto;
      width: 100%;
    }
  }

  h1 {
    padding: 5px 15px;
    margin-bottom: 24px;
  }

}

.pills {
  display: flex;
  margin-bottom: 30px;

  span {
    border-radius: 30px;
    background-color: #88d9eb;
    color: #383555;
    padding: 2px 18px;
    margin-right: 10px;
    font-size: 14px;
  }
}