
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.CriptoRow {
  width: 400px;
  height: 100px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.CriptoRow-logo {
  height: 50%;
  pointer-events: none;
}

.Amount{
  width: 70%;
  color: #282c34;
  display: flex;
  align-items: flex-start;
}
p {
  margin: 0  10px 0 5px;
}
@media (prefers-reduced-motion: no-preference) {
  .CriptoRow-logo {
    animation: CriptoRow-logo-spin infinite 20s linear;
    animation: CriptoRow-logo-move 2s linear;
  }
}


@keyframes CriptoRow-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes CriptoRow-logo-move {
  from {
    transform: translateX(-30%);
  }
  to {
    transform: translateX(0%);
  }
}



.down {
  animation: showUp 0.001s infinite;
}

@keyframes showUp {
  from {
    transform: translateY(10%);
    opacity: 1;
  }
  to {
    transform: translateY(-10%);
    opacity: 0;
  }
}

.left {
  animation: showUpX 0.001s infinite;
}

@keyframes showUpX {
  from {
    transform: translateX(-10%);
    opacity: 1;
  }
  to {
    transform: translateX(10%);
    opacity: 0;
  }
}
